.widget{
  width: 700px;
  height: 600px;
  overflow: auto;
  border: 2px solid;
  border-radius: 15px;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  padding: 15px;
  box-sizing: border-box;
}

.name{
  font-size: 24px;
}

.message {
  border: 1px solid;
  display: flex;
  height: 50px;
  justify-content: space-around;
}

.email {
  width: 38%;
}

.text {
  width: 28%;
  font-weight: bold;
}

.date {
  width: 28%;
}
